
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500&display=swap');
p, h1,h2,h3,h4,h5 {
    margin: 0;
}


body {
    font-family: 'Mukta', sans-serif;
    font-size: 2rem;
    margin: 0;
}

