.card {
    --transition-time: 0.2s;
    font-family: inherit;
    width: 128px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 0.5rem;
    padding: 0;
    border: none;
    background-color: transparent;
    color: inherit;
    transition: translate var(--transition-time);
    cursor: pointer;
}

.card:hover {
    translate: 0 -10%;
}

.card > * {
    margin: 0;
}

.card > h3 {
    overflow-y: auto;
}

.card p {
    position: absolute;
    width: 100%;
    top: 100%;
    background-color: inherit;
    padding: 0.5rem;
    border-radius: 15px;
    border: 1px solid black;
    background-color: white;
    display: none;
}

.card:hover > p{
    display: block;
}

.card:hover {
    z-index: 1
}

img {
    width: 48px;
    height: 48px;
}
